.*
*.swp
.DS_Store
*.pdf

yarn-error.log
npm-debug.log
node_modules

/release
/dist

/app/node_modules
/app/npm-debug.log
/app/dist
/app/.cache

/desktop/node_modules
/desktop/npm-debug.log
/desktop/release
/desktop/dist
/desktop/html/dist
