/*
Mostly hacks.
*/

/*
.oddRow {
  background-color: #fafafa;
}
*/
.headerColumn {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 10.4px;
  color: #837d86;
  letter-spacing: 0.2px;
  text-shadow: 0px 0px 1px white;
}

.checkboxLabel {
  margin-left: .5rem;
}
.ReactVirtualized__Table.resultsFlexTable .ReactVirtualized__Table__headerColumn{
  padding-left: 4px;
}

.ReactVirtualized__Table.resultsFlexTable .FlexTable__headerColumn:first-of-type,
.ReactVirtualized__Table.resultsFlexTable .FlexTable__rowColumn:first-of-type {
  margin-left: 0px;
}

.ReactVirtualized__Table.resultsFlexTable .ReactVirtualized__Table__headerRow {
  padding-left: 5% !important;
  width: 95% !important;
}

.ReactVirtualized__Table.resultsFlexTable .ReactVirtualized__Grid.ReactVirtualized__Table__Grid {
  width: 99.9% !important;
}

.ReactVirtualized__Table.resultsFlexTable .ReactVirtualized__Table__rowColumn {
  /*margin-left: 15px;
  margin-right: 0px;*/
}
.ReactVirtualized__Table.resultsFlexTable .ReactVirtualized__Grid.ReactVirtualized__Grid {
  /*  width: 100% !important;*/
}


.ReactVirtualized__Table.resultsFlexTable .ReactVirtualized__Table__row {
  height: 46px !important;
  background-color: rgba(255, 255, 255, 0.78);
  /*
  simple border, but I think it looks better with a shadow-border
  border: solid 1px #e0e0e0;
  */
  border: 1px solid transparent;
  box-shadow: 0px 1px 3px -1px rgba(0, 0, 0, 0.42);

  font-weight: 600;
  font-size: 11.5px;
  font-family: 'Open Sans';
  letter-spacing: 0.05px;
  color: rgba(0, 0, 0, 0.75);
  text-shadow: 0px 0px 1px white;
  width: 90% !important;
  margin-left: 5% !important;
  margin-right: 5% !important;
  transition: all 0.3s ease;
}

.exampleColumn {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
